.btn {
    background-color: #fff;
    padding: .4375rem 1rem;
    color: $primary;
    border-radius: .75rem;
    display: inline-block;

    img {
        vertical-align: middle;
        margin-left: .5rem;
        margin-top: -.125rem;
    }

    &:hover{
        background-color: $primary;
        color: $white;
    }

    &--large {
        padding: 1rem 2rem;
    }

    &--primary {
        background: linear-gradient($primaryLight, $primary);
        color: $white;
        border: none;
        box-shadow: 0 .25rem 0 0 $primaryDark;
        transition: .15s;

        &:hover {
            background-color: $primaryDark;
        }
    }

    &--secondary {
        background: linear-gradient($secondaryLight, $secondary);
        color: $white;
        border: none;
        box-shadow: 0 .25rem 0 0 $secondaryDark;
        transition: .15s ease;

        &:hover { 
            background: linear-gradient(180deg, $secondary 0%, $secondaryLight 100%);
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 0 .125rem 0 0 $secondaryDark;
        }
    }

    &--grad {
        background: rgb(73,187,153);
        background: linear-gradient($secondary, $primary);
        box-shadow: 0 .25rem 0 0 $primaryDark;
        color: $white;
        transition: .15s;

        &:hover {
            background: linear-gradient($primary, $secondary);
            box-shadow: 0 .25rem 0 0 $secondaryDark;
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 0 .125rem 0 0 $secondaryDark;
        }
    }
}

