.btn {
    background-color: #fff;
    padding: .4375rem 1rem;
    color: $white;
    border: none;
    border-radius: .75rem;
    display: inline-block;
    transition: .15s;
    margin-bottom: .75rem;

    @mixin atSmall {
        margin-bottom: 0;
    }

    img {
        vertical-align: middle;
        margin-left: .5rem;
        margin-top: -.125rem;
    }

    &--large {
        padding: .4375rem 1rem;

        @mixin atSmall {
            padding: 1rem 2rem;
        }
    }

    &--primary {
        background: linear-gradient($primaryLight, $primary);
        box-shadow: 0 .25rem 0 0 $primaryDark;

        &:hover {
            background: linear-gradient($primary, $primaryLight);
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 0 .125rem 0 0 $primaryDark;
        }
    }

    &--secondary {
        background: linear-gradient($secondaryLight, $secondary);
        box-shadow: 0 .25rem 0 0 $secondaryDark;

        &:hover { 
            background: linear-gradient($secondary, $secondaryLight);
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 0 .125rem 0 0 $secondaryDark;
        }
    }

    &--grad {
        background: linear-gradient($secondary, $primary);
        box-shadow: 0 .25rem 0 0 $primaryDark;

        &:hover {
            background: linear-gradient($primary, $secondary);
            box-shadow: 0 .25rem 0 0 $secondaryDark;
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 0 .125rem 0 0 $secondaryDark;
        }
    }
}

