.site-pros {
    h2 {
        font-size: 1.75rem;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .by {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin: .5rem 0 2rem;
    }

    ul {
        margin: 3rem 0 0 0;
        padding: 0 0 0 1rem;
    }
    
    li {
        list-style:none;
        margin-bottom: 1.5rem;
        position: relative;
        padding: 0 0 0 .5rem;
    }

    li:before {
        content: "";
        position: absolute;
        top: 4px;
        left: -16px;
        width: 16px;
        height: 16px;
        background-image: url('https://ijalfauzi.github.io/healthings/assets/images/icons/check.webp');
    }
}