.site-product {
    color: $white;
    background: $primary;

    h2 {
        font-size: 1.75rem;
        width: 12rem;
    }

    .product {
        border: 2px solid $white;
        border-radius: 15px;
        text-align: center;
        margin: 0 0 1.125rem;
        padding: 1.25rem;
    
        @mixin atSmall {
            margin-bottom: 2.8125rem;
        }
    
    
        @mixin atSmall {
            padding: 1.25rem;
        }
    
        &__icon {
            max-width: 80px;
            margin: 0 auto .5em;
    
            @mixin atSmall {
                max-width: 100px;
            }
        }
    
        &__title {
            font-size: .75rem;
            margin: 0 0 .5em;
            font-weight: bold;
        }
    
        &__description {
            margin: 0;
            min-height: 3rem;
        }
    }
}