.site-offering {
    border-top: .5rem solid $lightGrey;
    background-color: #fff;

    h2 {
        text-transform: inherit;
        color: $primary;
        font-weight: bold;
        margin: 0 0 2rem;
        font-size: 3.25rem;

        span {
            color: $primaryDark;
            font-style: italic;
        }
    }
}