.site-widget {
    padding-bottom: 9.563rem;
    text-align: center;
    background: rgb(73,187,153);
    background: linear-gradient(225deg, rgba(73,187,153,1) 0%, rgba(22,56,127,1) 100%);
    border-top: .5rem solid $lightGrey;

    @mixin atMedium {
        text-align: inherit;
    }

    h3 {
        color: $white;
    }

    a {
        color: #eee;
    }

    &__socials {
        font-size: 1.5rem;

        a {
            display: inline-block;
            margin: 0 .25em;
        }
    }
}

.widget-content {
    margin-bottom: 50px;

    &--last-widget {
        margin-bottom: 0;
    }

    @mixin atMedium {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}

.widget-1 {
    img {
        max-width: 150px;
    }
}

.widget-2 {
    img {
        max-width: 60px;
    }
}

.widget-3 {
    img {
    float: left;
    background: linear-gradient(180deg, rgba(7,18,75,.5) 0%, rgba(2,9,46,.5) 100%);
    width: 36px;
    padding: 10px;
    margin-right: 15px;
    text-align: center;
    border-radius: .75rem;
    }
    ul {
    padding: 0;
    text-align: left;
    }
    li {
        list-style: none;
        padding: 0;
        display: inline-block;
        width: 100%;
        margin: 0 0 20px;
    }

    a {
    &:hover {
        color: #fff;
    }
    }
}

.text-phone, .text-email {
    padding-top: .5rem;
}